@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 231, 214);
    color: #000;
    font-size: 16px;
}

.logo {
    width: 45px;
    height: 40px;
    margin-top: 20px;
}
.desktop {
    display: none;
}
.container {
    max-width: 350px;
}
.form-div {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;  
}
input, select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#register {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: teal;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}
.bottom-text {
    text-align: center;
    padding-bottom: 20px;
}
.bottom-text a {
    color: teal;
}

/* Desktop styling and responsiveness */
/* @media only screen and (min-width: 1024px) {
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
    }
    .mobile {
        display: none;
    }
} */